<div class="container mt-3">
  <div class="card" style="width: 870px">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-3">
          <div>
            <img
              class="card-img-top"
              src="https://eg.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/92/631762/1.jpg?6774"
              alt="Card image"
            />
          </div>
          <span> <i class="fa-solid fa-trash"></i> Remove </span>
          <div></div>
        </div>
        <div class="col-xl-6">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">
            Some example text some example text. John Doe is an architect and
            engineer
          </p>
        </div>
        <div class="col-xl-3">
          <h2>EGP 844.00</h2>
          <div class="col-xl-3 d-flex flex-row">
            <span>
              <button type="button" class="btn btn-warning mx-2">
                <i class="fa-solid fa-plus"></i>
              </button>
            </span>
            <h3>1</h3>
            <span>
              <button type="button" class="btn btn-warning mx-2">
                <i class="fa-solid fa-minus"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
