<div class="container-fluid" style="background-color: #FF9900;">
  <div class="row">
    <div class="col-xl-2" style="height: 60px"></div>
    <div class="col-xl-8" style="height: 56px;padding: 0%;margin: 0%;">
      <img class="col-xl-12" src="../../../assets/images/Ramadan-Offer.png" alt="" style="box-sizing: border-box;">
    </div>
    <div class="col-xl-2" style="height: 60px"></div>
  </div>
  <!-- ////////// -->
  <div class="row" style="background-color: #F1F1F2;">
    <div class="col-xl-2" style="height: 34px"></div>
    <div class="col-xl-8 d-flex justify-content-between align-items-center" style="height: 34px;padding: 0%;margin: 0%">
      <span>
        <span><img src="../../../assets/images/star2.png" alt="" width="20px" class="rounded-circle"></span>
        <span><a href="#">Sell on Jumia</a></span>
      </span>
      <span><a href="#"><img src="../../../assets/images/pay1.jpg" alt="" height="35px"
            class="rounded-circle"></a></span>
      <span>
        <span class="p-1"><a href="#"><img src="../../../assets/images/en.png" alt="" width="14px">English |</a></span>
        <span class="p-1"><a href="#"><img src="../../../assets/images/ar.png" alt="" width="14px">عربى</a></span>
      </span>
    </div>
    <div class="col-xl-2" style="height: 34px"></div>
  </div>
  <!-- //---------- -->
  <div class="row nav-bar col-xl-12" style="background-color: white;">
    <div class="col-xl-1" style="height: 72px"></div>
    <div class="col-xl-10 d-flex justify-content-between align-items-center" style="height: 72px;">
      <div class="col-xl-2">
        <span>
          <a routerLink="/" routerLinkActive="active"><img src="../../../assets/images/logo.png" alt="" hight="72px" class="rounded-circle"></a>
          </span>
      </div>
      <div class="col-xl-8">
        <div class="col-xl-12">
          <form action="" class="form-div col-xl-12">
            <input class="p-2 m-3" size="50" width="530" type="search" id="searchInput"
              placeholder="Search products, brands and categories">
            <button class=" px-4 py-2"
              style="border: 0;color: white;background-color: #FF9900;box-shadow: 0 4px 2px -2px gray;"
              id="searchButton">Search</button>
            <span class="dropdown px-2 bg-white border border-white">
              <span class=" dropdown-toggle bg-white p-1" style="font-size: 17px;border: 0;background-color: #FFFFFF;"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <button class="bg-white" style="border: 0 white;font-weight: 500">
                  <i class="bi bi-person" style="font-weight: bold;font-size: 15px;"></i>
                  Account</button>
              </span>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="User/login">Sign In</a></li>
                <li><a class="dropdown-item" href="User/signup">Sign Up</a></li>
                <li><a class="dropdown-item" href="/useraccount/accountoverview">My Account</a></li>
                <li><a class="dropdown-item" href="#">Saved Items</a></li>
              </ul>
            </span>
          </form>
        </div>
      </div>
      <div class="col-xl-2">
        <span class="dropdown px-2 bg-white border border-white">
          <span class=" dropdown-toggle bg-white p-1" style="font-size: 15px;border: 0;background-color: #FFFFFF;"
            type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button class="bg-white" style="font-weight: 500;border: 0 white">
              <i style="font-weight: bold;font-size: 15px" class="bi bi-question-circle"></i>
              Help</button>
          </span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/help">Help Center</a></li>
            <li><a class="dropdown-item" href="#">Order Cancellation</a></li>
            <li><a class="dropdown-item" href="#">Returns and Refund</a></li>
          </ul>
        </span>
        <span class=" bg-white p-1" style="font-size: 15px;border: 0;background-color: #FFFFFF;" type="button"
          aria-expanded="false">
          <button class="bg-white" style="font-weight: 500;border: 0 white">
            <i style="font-weight: bold;font-size: 15px" class="bi bi-cart4"></i>
            <a routerLink="/cart" routerLinkActive="active">Cart</a></button>
        </span>
      </div>
    </div>
    <div class="col-xl-1" style="height: 34px"></div>
  </div>

</div>
